version: "3.8"
services:
  template-web:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      target: final
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ../.env.local.example

  template-db:
    image: bitnami/postgresql:15
    restart: always
    environment:
      - POSTGRESQL_USERNAME=leaperone
      - POSTGRESQL_PASSWORD=password
      - POSTGRESQL_DATABASE=template_db
      - POSTGRESQL_POSTGRES_PASSWORD=password
      - POSTGRESQL_TIMEZONE=Asia/Shanghai
      - POSTGRESQL_LOG_TIMEZONE=Asia/Shanghai
    volumes:
      - template-postgres-data:/bitnami/postgresql
    ports:
      - "5432:5432"
    networks:
      - template

volumes:
  template-postgres-data:

networks:
  template:
    driver: bridge
